<div class="container">
  <h2>Lớp của tôi</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Tên khóa học</th>
        <th>Giảng viên</th>
        <th>Mô tả</th>
        <th>Hoàn thành</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">INT2345 6 Tin học cơ sở 4</a></td>
        <td>TS. Nguyễn Văn Vinh</td>
        <td>Khóa học căn bản về lập trình C</td>
        <td>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
            aria-valuemin="0" aria-valuemax="100" style="width:40%">
              40% Complete (success)
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div>