<div class="container">
  <h2>
    Kì thi
  </h2> 
  <table id="examinations-table"></table>
</div>

<script>
	var text = '[{"name":"Thi học kì I - 2014/2015","startTime":"2015-11-19 08:00:00","endTime":"2015-11-19 10:00:00", "time":"120 phút"},{"name":"Thi học kì I - 2014/2015","startTime":"2015-11-19 08:00:00","endTime":"2015-11-19 10:00:00", "time":"120 phút"}]';
	document.getElementById("examination-table").innerHTML = jsonToHTMLTableExamination(text);
    $(document).ready(function() {
      $('#examinations-table').DataTable( {
          "pagingType": "full_numbers"
      } );
    } );
	function jsonToHTMLTableExamination(response){
		var arr = JSON.parse(text);
    var i;
    var out = "<table class=\"table table-bordered\"><thead><tr><th>Tên kì thi</th><th>Thời gian bắt đầu</th><th>Thời gian kết thúc</th><th>Thời gian làm bài</th></tr></thead><tbody>";
    for(i = 0; i < arr.length; i++) {
        out += "<tr><td>" +  "<a href=\"\">" +
        arr[i].name + "</a>" +
        "</td><td>" +
        arr[i].startTime +
        "</td><td>" +
        arr[i].endTime +
        "</td><td>"+
        arr[i].time +
        "</td></tr>";
    }
    out += "</tbody></table>";
    return out;
	}
</script>