<hr>
<div class="row">
  <div class="col-md-6">
    <div class="box" style="height:500px; overflow: scroll;">
      <!--BOX HEADER-->
      <div class="box-header">
        <!--BOX TITLE-->
        <div class="box-title pull-left">
          <p>Mô tả bài toán</p>
        </div>
        <!--end: TITLE-->
        <!--ICONS - FUNCTIONAL-->
  
        <!--end: ICONS-->
      </div>
      <!--end: BOX HEADER-->
      <!--BOX CONTENT-->
      <div class="box-content">
        <h2>blabla</h2>
        <p id="problemDescription"></p>
        <div id="MyEdit">
            This text will change
        </div>
        <script>
        document.getElementById("MyEdit").innerHTML = "My new text!";
        </script>
      </div>
      <!--end: BOX CONTENT-->
    </div>
  </div>
  <div class="col-md-6" style="overflow: scroll;">
    <div class="navbar-collapse">
    	<ul class="nav navbar-nav navbar-left">
    		<li><a href="">Mã nguồn</a></li>
    		<li><a href="">Kết quả</a></li>
    	</ul>
    </div>
  </div>
</div>

<script lang="javascript">
console.log("blablabla");
 document.getElementById('problemDescription').innerHTML ="Grid System Rules
Some Bootstrap grid system rules:

Rows must be placed within a .container (fixed-width) or .container-fluid (full-width) for proper alignment and padding
Use rows to create horizontal groups of columns
Content should be placed within columns, and only columns may be immediate children of rows
Predefined classes like .row and .col-sm-4 are available for quickly making grid layouts
Columns create gutters (gaps between column content) via padding. That padding is offset in rows for the first and last column via negative margin on .rows
Grid columns are created by specifying the number of 12 available columns you wish to span. For example, three equal columns would use three .col-sm-4
";
</script>