<hr>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="box" style="height:400px;">
      <div class="box-header">
        <div class="box-icon pull-right">
          <a href="#" title="Expand" role="button"><i class="fa fa-expand" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="box-content">
        <form role="form">
          <div class="form-group" style="overflow: scroll;">
            <textarea class="form-control" style="height:350px" id="source-code">
            </textarea>
          </div>
        </form>
      </div>
    </div>
    <button  class="btn btn-primary pull-right" id="submit-button">Submit</button>
	</div>
	<div class="col-md-1"></div>
</div>